@media screen and (min-width: 1000px) {
	#container{
		width: 80%;
		margin: 0 auto;
	}
}

.highlight{
	margin-top: -5px;
	margin-bottom: -5px;
	background-color: #ffbc00;
}

body{
	line-height: 1.5em;
    font-size: 1em;
}
